/* 이미지 추가 후 class='' 안에 img_fill_unset 추가*/
/* 샘플 : order/order.html/ line 263 */
.img_fill_unset {
  border: unset !important;
  background: unset !important;
}

/* ------------------------------- */

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a[x-apple-data-detectors] {
  color: inherit !important;
  text-decoration: none !important;
  font-size: inherit !important;
  font-family: inherit !important;
  font-weight: inherit !important;
  line-height: inherit !important;
}

/* +++++++++++ 레이아웃 +++++++++++ */
#bg_phone {
  background: #eee;
}

.main {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-93 {
  height: calc(var(--vh, 1vh)*93);
}

.main-93 .page_wrap {
  height: calc(var(--vh, 1vh)*93);
}

#view_wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  min-width: 375px;
  max-width: 480px;
  width: 100%;
  height: 100%;
  background: #eee;
}

#view {
  overflow: hidden;
  box-sizing: content-box;
  flex-basis: var(--screen-width);
  width: 100vw;
  height: calc(var(--vh, 1vh)*100);
  position: relative;
  background: #eee;
  word-break: keep-all;
  word-wrap: break-word;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.page {
  display: none;
  width: 100%;
}

.page.active {
  display: block;
}

.page_wrap {
  background-color: white;
  word-break: keep-all;
  word-wrap: break-word;
  width: 100%;
  flex-direction: column !important;
  height: calc(var(--vh, 1vh)*100);
  padding-top: calc(var(--bs-gutter-x) * 0.5);
  padding-bottom: calc(var(--bs-gutter-x) * 0.5);
  align-items: center;
}

img {
  width: 100%;
  object-fit: cover;
  display:block;
	height:auto;
}

svg {
  pointer-events: none;
}

.svg-1em {
  width: 1em !important;
  height: 1em !important;
}

.svg-2em {
  width: 2em !important;
  height: 2em !important;
}

.svg-15em {
  width: 1.5em !important;
  height: 1.5em !important;
}

.container {
  flex-direction: column !important;
  width: 100%;
  height: calc(var(--vh, 1vh)*100);
  padding-top: calc(var(--bs-gutter-x) * 0.5);
  padding-bottom: calc(var(--bs-gutter-x) * 0.5);
  align-items: center;
}

.under_bar {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  display: flex;
  align-items: center;
}

.tab {
  display: flex;
  width: 100%;
  height: calc(var(--vh, 1vh)*7);
  padding : 1em;
  align-items: center;
  justify-content: space-between;  
}

.line {
  border : 1px solid #a9a7a7;
  width : 100%;
}

.blank {
  width: 100%;
  height: 0.5em;
  background: #dfdfdf;
}

.floating-shdw {
  box-shadow: 0px 0px 40px 3px rgba(207, 207, 207, 0.35);
}

.w-50 {
  width: 50%;
} 

.w-33 {
  width: 33%;
} 

/* +++++++++++ 위치 +++++++++++ */

.bt {
  display: flex;
  position: absolute;
  align-items: center;
  flex-direction: column !important;
  width: 100%;
  bottom: 0;
  padding-bottom: calc(var(--bs-gutter-x) * 0.5);
}

.tp {
  display: flex;
  align-items: center;
  flex-direction: column !important;
  width: 100%;
  top: 0;
  padding-bottom: calc(var(--bs-gutter-x) * 0.5);
}

.top_bar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.top_bar svg {
  width: 2em;
  height: 2em;
}

.bottom_bar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  bottom: 0;
  height: calc(var(--vh, 1vh)*7);
}

.ctrlbar {
  display: flex;
  width: 100%;
  justify-content: center;
  height: calc(var(--vh, 1vh)*7);
  background: white;
  border-top: 2px solid rgb(208, 208, 208);
  z-index: 10;
}

.bottom_bar svg {
  width: 2em;
  height: 2em;
}

.center {
  justify-content: center !important;
  align-items: center !important;
}

.absolute-bottom {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
}

.z-100 {
  z-index: 100;
}

/* +++++++++++ 폰트 색, 크기 등 +++++++++++ */
.text-xxx-large {
  font-size: xxx-large;
}

.text-xx-large {
  font-size: xx-large;
}

.text-x-large {
  font-size: x-large;
}

.text-lg {
  font-size: larger;
}

.text-medium {
  font-size: medium;
}

.txt-cntr {
  text-align: center;
}

.text-bold {
  font-weight: 900 !important;
}

.txt-white {
  color: white;
}

.txt-gray {
  color: #c1c1c1
}

.sve-1em {
  width: 1em;
  height: 1em;
}

.flex-alCntr-juCntr {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-alCntr-juCntr-col {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.flex-alFS-juFS-col {
  display: flex;
  align-items:flex-start;
  justify-content: flex-start;
  flex-direction: column;
}

.flex-alCntr-juBtw {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.flex-alCntr-juAr {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

/* +++++++++++ 스크롤러 +++++++++++ */
.scroller {
  scroll-behavior: smooth;
  overflow-y: scroll;
  -ms-overflow-style: none;
}

.scroller::-webkit-scrollbar {
  display: none;
}

.xScroller {
  scroll-behavior: smooth;
  overflow-x: scroll;
  -ms-overflow-style: none;
}

.xScroller::-webkit-scrollbar {
  display: none;
}

.top {
  position: relative;
  width: 100%;
  height: 100%;
}

/* +++++++++++ modal +++++++++++ */

.modal-footer {
  justify-content: center !important;
}

.modal-footer button {
  --bs-btn-color: #000;
  --bs-btn-bg: #ffc107;
  --bs-btn-border-color: #ffc107;
  --bs-btn-hover-color: #000;
  --bs-btn-hover-bg: #ffca2c;
  --bs-btn-hover-border-color: #ffc720;
  --bs-btn-focus-shadow-rgb: 217, 164, 6;
  --bs-btn-active-color: #000;
  --bs-btn-active-bg: #ffcd39;
  --bs-btn-active-border-color: #ffc720;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #000;
  --bs-btn-disabled-bg: #ffc107;
  --bs-btn-disabled-border-color: #ffc107;
  width: 100%;
  letter-spacing: 6px;
}

.modal-body {
  text-align: center;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .modal {
    width: 100% !important;
    /* top: 20vh !important;
    left: -10% !important; */
  }

  .modal-content {
    width: 150% !important;
  }

  #modalForInit {
    width: 100% !important;
    top: unset !important;
    left: unset !important;
  }

  #modalForInit .modal-content {
    width: 100% !important;
  }

}

@media (min-width: 1025px) {

.modal {
    /* top: 20% !important;
    width: 100% !important; */
}

  .modal-content {
    width: 100% !important;
  }
}

@media (max-width: 767px) {
  .modal {
    padding-left: 2em;
    padding-right: 2em;
  }
}


/* ++++++++++++ 태블릿 사이즈 미디어쿼리 ++++++++++++++++ */
@media (min-width: 768px) and (max-width: 1024px){

  .main {
    width : 80%;
    max-width: 720px;
    border : 2px solid rgb(208, 208, 208);
  }

  .modal-footer button {
    font-size: x-large !important;
  }

  div {
    /* 태블릿 기본 폰트 사이즈 설정 */
    font-size: x-large;
  }

  .view {
    background: #eee;
  }

  #view_wrap {
    min-width: 768px;
    max-width: 1024px;
  }

  .page {
    max-width: 720px;
  }
  .page_wrap {
    width : 100%;
  }

  .bottom_bar {
    max-width: 720px;
  }

  .top_bar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 2em;
    padding-bottom: 2em;
  }

  .top_bar svg {
    width: 3em;
    height: 3em;
  }

  .top_bar .text-x-large {
    font-size: xx-large;
  }

  .ctrlbar {
    width: 80%;
    max-width: 720px;
  }

  .bottom_bar {
    width : 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    bottom: 0;
    height: calc(var(--vh, 1vh)*7);
    border : 2px solid rgb(208, 208, 208);
  }

  .bottom_bar svg {
    width: 3em;
    height: 3em;
  }

  .ctrlbar .bottom_bar svg {
    width: 1.5em;
    height: 1.5em;
  }

  .bottom_bar .text-x-large {
    font-size: xx-large;
  }

  .tab_txt_lg {
    font-size: xx-large;
  }

}

/* ++++++++++++ 모바일 사이즈 미디어쿼리 ++++++++++++++++ */
@media (max-width: 767px) {

  .main-93 {
    min-width: 375px;
    max-width: 480px;
    width: 100%;
  }

  .modal-footer button {
    font-size: large !important;
  }

  .text-xxx-large {
    font-size: x-large;
  }

  .text-xx-large {
    font-size: large;
  }

  .text-x-large {
    font-size:medium;
  }

  .text-large {
    font-size: small !important;
  }

  .text-medium {
    font-size:x-small !important;
  }

  .date_selc .date {
    font-size: large !important;
    padding-top: 0.5em;
    font-weight: bold;

    
}

.time_selc .num {
  font-size: large !important;
}

.btos div {
  font-size: large !important;
  color: #0c3c60;
}

.prevDateNxt .center {
  font-size: large !important;
}

#p11 .prevDateNxt .center {
  font-size: small !important;
}

.prevDateNxt .blue {
  border: 2px solid #006dc0;
  padding: 0.2em !important;
  border-radius: 2em;
  padding-left: 0.8em !important;
  padding-right: 0.8em !important;
}

.seat_list_wrap_reverse .seat {
  padding: 0.8em !important;
  border-radius: 1rem;
  padding-bottom: 0 !important;
}

.seat_list_wrap_forward .seat {
  padding: 0.8em !important;
  border-radius: 1rem;
  padding-top: 0 !important;
}

}

/* ++++++++++++ PC 사이즈 미디어쿼리 ++++++++++++++++ */

@media (min-width: 1025px) {
  #view_wrap {
    width: unset !important;
    min-width: unset !important;
    max-width: unset !important;
  }
  .main {
    width: 30%;
max-width : 768px !important;
border : 2px solid rgb(208, 208, 208);
  }

  .modal-footer button {
    font-size: x-large !important;
  }

  .ctrlbar, .bottom_bar {
    width : 30%;
max-width : 768px !important;;
  }

  .bottom_bar svg {
    width: 3em;
    height: 3em;
  }

  .ctrlbar .bottom_bar svg {
    width: 2em;
    height: 2em;
  }
  
  div {
    font-size: large;
  }

  .bottom_bar {
    border : 2px solid rgb(208, 208, 208);
  }

}


