.bigImg {
    width: 90%;
}

input {
    width: 90% !important;
    letter-spacing: 6px;
    font-size: x-large !important;
    text-align: center;
}

button {
    width: 90%;
    min-height: calc(var(--vh, 1vh)*6);
    letter-spacing: 6px;
    font-size: x-large !important;
    border-radius: 1rem !important;
}

.input_wrap {
    display: flex;
    align-items: center;
    flex-direction: column !important;
    width: 100%;
    padding-bottom: calc(var(--bs-gutter-x) * 0.5);
    padding-top: calc(var(--bs-gutter-x) * 1.5);
}

#view_wrap {
    display: unset !important;
    align-content: center;
    justify-content: center !important;
}

.wrap {
    justify-content: center;
}

.center {
    justify-content: center;
    height: calc(var(--vh, 1vh)*100);
    display: flex;
    flex-direction: column !important;
    padding-top: calc(var(--bs-gutter-x) * 0.5);
    padding-bottom: calc(var(--bs-gutter-x) * 0.5);
    align-items: center;
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    width: 100%;
    padding-right: calc(var(--bs-gutter-x) * 0.5);
    padding-left: calc(var(--bs-gutter-x) * 0.5);
    margin-right: auto;
    margin-left: auto;
    background: white;
}


/* ++++++++++++ 태블릿 이상 사이즈 미디어쿼리 ++++++++++++++++ */
@media (min-width: 768px) and (max-width: 1024px) {
    .page_wrap {
        max-width: unset !important;
    }

    #bg_phone {
        background: white !important;
    }

    #view_wrap {
        background: white !important;
    }

    .main {
        min-width: 768px;
        max-width: 1024px;
    }
}


/* ++++++++++++ 모바일 사이즈 미디어쿼리 ++++++++++++++++ */
@media (max-width: 767px)  {

    input,
    button {
        font-size: unset !important;
    }

    .main {
        min-width: 375px;
        max-width: 480px;
        width: 100%;
    }

}

@media (min-width: 1025px) {
    .main {
        width: 30%;
max-width : 768px !important;;

    }
}