.navy {
    color: #0c3c60;
  }
  
  .blue {
    color : #006dc0;
  }
  
  .gray {
    color: #6b6b6b;
  }
  
  /* +++++++++++ p1 +++++++++++ */
  #p1 .scroller {
    height: calc(var(--vh, 1vh)*86);
  }
  #p1 .top_bar {
    display: flex;
    width: 100%;
    height: calc(var(--vh, 1vh)*7);
    padding: 1em;
    background: #0c3c60;
    color: white;
    align-items: center;
    justify-content: space-between;
  }
  
  #p1 .tab {
    justify-content: center !important;
  }
  
  #p1 .top_bar svg {
    width: 1.5em;
    height: 1.5em;
  }
  
  #p1 .tab:nth-child(1) {
    padding-bottom: unset !important;
  }
  #p1 .tab:nth-child(2) {
    padding-top: 0.5em !important;
  }
  
  #p1 .tab:nth-child(2) div {
    font-size: xxx-large;
  }
  
  #p1 .tab:nth-child(1) svg {
    width: 4.5em !important;
    height: 2em !important;
    border: 2px solid #0c3c60;
    border-radius: 2rem;
    padding: 0.3em;
    color: #0c3c60;
  }
  
  #p1 .tab:nth-child(2) svg {
    width: 1.0em !important;
    height: 1.0em !important;
    color: #0c3c60;
  }
  
  #p1 .tab .left,
  #p1 .tab .cntr,
  #p1 .tab .right {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  #p1 .tab svg {
    width: 1.5em;
    height: 1.5em;
  }
  
  #p1 .tab .left {
    width: 30%;
  }
  
  #p1 .tab .cntr {
    width: 32%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  #p1 .tab .right {
    width: 30%;
  }
  
  #p1 .tab:nth-child(3) div {
    width: 100%;
    border: 1px solid #6b6b6b;
    border-radius: 2rem;
    text-align: center;
    padding: 0.3em;
  }
  
  #p1 .line_wrap {
    height: calc(var(--vh, 1vh)*1) !important;
    padding-bottom: unset !important;
    padding-top: unset !important;
  }
  
  #p1 .info_tab {
    height: unset !important;
    display: flex;
    width: 100%;
    align-items: center;
    flex-direction: column;
  }
  
  #p1 .info_tab div {
    padding-bottom: 0.7em;
  }
  
  #p1 .tab_bottom {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  
  #p1 .btn_tab {
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding-left: unset !important;
    padding-right: unset !important;
    height: calc(var(--vh, 1vh)*7) !important;
  }
  #p1 .btn_tab div {
    width: 100% !important;
    background: #d1e7f2;
    font-weight: bold;
    border: 1px solid #6b6b6b;
    padding: 1em;
  }
  
  #p1 .menu_tab{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-around;
    padding: 0.5em;
    padding-top: 0;
  }
  
  #p1 .menu_tab .icon_wrap{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 1em;
  }
  
  #p1 .menu_tab .icon_wrap:nth-child(1) {
    border-top: 8px solid #0c3c60;
  }
  
  #p1 .menu_tab .icon_wrap svg{
    width: 2em;
    height: 2em;  
  }
  #p1 .menu_tab .icon_wrap .txt{
    padding: 0.5em;
  }
  /* ++++++++++++ 모바일 사이즈 미디어쿼리 ++++++++++++++++ */
  
  @media (max-width: 767px) {}
  
  /* ++++++++++++ 태블릿 사이즈 미디어쿼리 ++++++++++++++++ */
  @media (min-width: 768px) and (max-width: 1024px) {
    #p1 .top_bar .txt {
      font-size: xx-large;
    }
  }