#p1,
#p2,
#p3,
#p4,
#p5,
#p6,
#p7,
#p8,
#p9, 
#p10,
#p11 {
  width: 100%;
}

.navy {
  color: #0c3c60;
}

.blue {
  color: #006dc0;
}

.skyblue {
  color: skyblue;
}

.gray {
  color: #6b6b6b;
}

.white {
  color: white;
}

.lightgray {
  color: #c5c5c5;
}

.yellow {
  color: #fdad00;
}

/* +++++++++++ instruction modal +++++++++++ */
.modal .modal_info {
  padding-top: 1em;
  padding-bottom: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal .info_head {
  background: white;
  top: 0.5em;
  position: relative;
  width: max-content;
}

.modal .info_body {
  text-align: left;
  padding: 1em;
  padding-right: 1em;
  border: 1px solid #000000;
}


/* +++++++++++ p1 +++++++++++ */
#p1 .scroller {
  height: calc(var(--vh, 1vh)*68);
}

#p1 .top_bar {
  display: flex;
  width: 100%;
  height: calc(var(--vh, 1vh)*7);
  padding: 1em;
  background: #0c3c60;
  color: white;
  align-items: center;
  justify-content: space-between;
}

#p1 .tab {
  justify-content: center !important;
}

#p1 .top_bar svg {
  width: 1.5em;
  height: 1.5em;
}

#p1 .tab:nth-child(1) {
  padding-bottom: unset !important;
}

#p1 .tab:nth-child(2) {
  padding-top: 0.5em !important;
}

#p1 .tab:nth-child(2) div {
  font-size: xxx-large;
}

#p1 .tab:nth-child(1) svg {
  width: 4.5em !important;
  height: 2em !important;
  border: 2px solid #0c3c60;
  border-radius: 2rem;
  padding: 0.3em;
  color: #0c3c60;
}

#p1 .tab:nth-child(2) svg {
  width: 1.0em !important;
  height: 1.0em !important;
  color: #0c3c60;
}

#p1 .tab .left,
#p1 .tab .cntr,
#p1 .tab .right {
  display: flex;
  align-items: center;
  justify-content: center;
}

#p1 .tab svg {
  width: 1.5em;
  height: 1.5em;
}

#p1 .tab .left {
  width: 30%;
}

#p1 .tab .cntr {
  width: 32%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#p1 .tab .right {
  width: 30%;
}

#p1 .tab:nth-child(3) div {
  width: 100%;
  border: 1px solid #6b6b6b;
  border-radius: 2rem;
  text-align: center;
  padding: 0.3em;
}

#p1 .line_wrap {
  height: calc(var(--vh, 1vh)*1) !important;
  padding-bottom: unset !important;
  padding-top: unset !important;
}

#p1 .info_tab {
  height: unset !important;
  display: flex;
  width: 100%;
  align-items: center;
  flex-direction: column;
}

#p1 .info_tab div {
  padding-bottom: 0.7em;
}

#p1 .tab_bottom {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

#p1 .btn_tab {
  width: 100%;
  align-items: center;
  justify-content: space-between;
  padding-left: unset !important;
  padding-right: unset !important;
  height: calc(var(--vh, 1vh)*7) !important;
}

#p1 .btn_tab div {
  width: 100% !important;
  background: #d1e7f2;
  font-weight: bold;
  border: 1px solid #6b6b6b;
  padding: 1em;
}

#p1 .menu_tab {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-around;
  padding: 0.5em;
  padding-top: 0;
}

#p1 .menu_tab .icon_wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 1em;
}

#p1 .menu_tab .icon_wrap:nth-child(1) {
  border-top: 8px solid #0c3c60;
}

#p1 .menu_tab .icon_wrap svg {
  width: 2em;
  height: 2em;
}

#p1 .menu_tab .icon_wrap .txt {
  padding: 0.5em;
}

/* +++++++++++ p2, p3, p5, p6 +++++++++++ */
.top_bar {
  display: flex;
  width: 100%;
  height: calc(var(--vh, 1vh)*7);
  padding: 1em;
  background: #0c3c60;
  color: white;
  align-items: center;
  justify-content: space-between;
}

.tab {
  justify-content: center !important;
}

.top_bar svg {
  width: 1.5em;
  height: 1.5em;
}

.tab:nth-child(1) {
  padding-bottom: unset !important;
}

.tab:nth-child(2) {
  padding-top: 0.5em !important;
}

.tab:nth-child(2) div {
  font-size: xxx-large;
}

.tab:nth-child(1) svg {
  width: 4.5em !important;
  height: 2em !important;
  border: 2px solid #0c3c60;
  border-radius: 2rem;
  padding: 0.3em;
  color: #0c3c60;
}

.tab:nth-child(2) svg {
  width: 1.0em !important;
  height: 1.0em !important;
  color: #0c3c60;
}

.tab .left,
.tab .cntr,
.tab .right {
  display: flex;
  align-items: center;
  justify-content: center;
}

.tab svg {
  width: 1.5em;
  height: 1.5em;
}

.tab .left {
  width: 30%;
}

.tab .cntr {
  width: 32%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tab .right {
  width: 30%;
}

.tab:nth-child(3) div {
  width: 100%;
  border: 1px solid #6b6b6b;
  border-radius: 2rem;
  text-align: center;
  padding: 0.3em;
}

.blank {
  border-top-right-radius: 2rem;
  border-top-left-radius: 2rem;
  height: 1.5em;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 0.5em;
}

.blank svg {
  width: 2em;
  height: 1em;
  stroke-width: 1px;
  stroke: black;
}

.scroller {
  height: calc(var(--vh, 1vh)*61);
}

.form-floating {
  padding: 1em;
}

input {
  font-size: x-large !important;
}

.input_wrap {
  padding: 1em;
}

/* +++++++++++ p4 +++++++++++ */
#p4 .scroller {
  height: calc(var(--vh, 1vh)*68);
}

#p4 .top_bar {
  display: flex;
  width: 100%;
  height: calc(var(--vh, 1vh)*7);
  padding: 1em;
  background: #0c3c60;
  color: white;
  align-items: center;
  justify-content: space-between;
}

#p4 .tab {
  justify-content: center !important;
}

#p4 .top_bar svg {
  width: 1.5em;
  height: 1.5em;
}

#p4 .tab:nth-child(1) {
  padding-bottom: unset !important;
}

#p4 .tab:nth-child(2) {
  padding-top: 0.5em !important;
}

#p4 .tab:nth-child(2) div {
  font-size: xxx-large;
}

#p4 .tab:nth-child(1) svg {
  width: 4.5em !important;
  height: 2em !important;
  border: 2px solid #0c3c60;
  border-radius: 2rem;
  padding: 0.3em;
  color: #0c3c60;
}

#p4 .tab:nth-child(2) svg {
  width: 1.0em !important;
  height: 1.0em !important;
  color: #0c3c60;
}

#p4 .tab .left,
#p4 .tab .cntr,
#p4 .tab .right {
  display: flex;
  align-items: center;
  justify-content: center;
}

#p4 .tab svg {
  width: 1.5em;
  height: 1.5em;
}

#p4 .tab .left {
  width: 30%;
}

#p4 .tab .cntr {
  width: 32%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#p4 .tab .right {
  width: 30%;
}

#p4 .tab:nth-child(3) div {
  width: 100%;
  border: 1px solid #6b6b6b;
  border-radius: 2rem;
  text-align: center;
  padding: 0.3em;
}

#p4 .line_wrap {
  height: calc(var(--vh, 1vh)*1) !important;
  padding-bottom: unset !important;
  padding-top: unset !important;
}

#p4 .info_tab {
  height: unset !important;
  display: flex;
  width: 100%;
  align-items: center;
  flex-direction: column;
}

#p4 .info_tab div {
  padding-bottom: 0.7em;
}

#p4 .tab_bottom {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

#p4 .btn_tab {
  width: 100%;
  align-items: center;
  justify-content: space-between;
  padding-left: unset !important;
  padding-right: unset !important;
  height: calc(var(--vh, 1vh)*7) !important;
}

#p4 .btn_tab div {
  width: 100% !important;
  background: #d1e7f2;
  font-weight: bold;
  border: 1px solid #6b6b6b;
  padding: 1em;
}

#p4 .menu_tab {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-around;
  padding: 0.5em;
  padding-top: 0;
}

#p4 .menu_tab .icon_wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 1em;
}

#p4 .menu_tab .icon_wrap:nth-child(1) {
  border-top: 8px solid #0c3c60;
}

#p4 .menu_tab .icon_wrap svg {
  width: 2em;
  height: 2em;
}

#p4 .menu_tab .icon_wrap .txt {
  padding: 0.5em;
}

/* +++++++++++ p7 +++++++++++ */
#p7 .scroller {
  height: calc(var(--vh, 1vh)*68);
}

#p7 .top_bar {
  display: flex;
  width: 100%;
  height: calc(var(--vh, 1vh)*7);
  padding: 1em;
  background: #0c3c60;
  color: white;
  align-items: center;
  justify-content: space-between;
}

#p7 .tab {
  justify-content: center !important;
}

#p7 .top_bar svg {
  width: 1.5em;
  height: 1.5em;
}

#p7 .tab:nth-child(1) {
  padding-bottom: unset !important;
}

#p7 .tab:nth-child(2) {
  padding-top: 0.5em !important;
}

#p7 .tab:nth-child(2) div {
  font-size: xxx-large;
}

#p7 .tab:nth-child(1) svg {
  width: 4.5em !important;
  height: 2em !important;
  border: 2px solid #0c3c60;
  border-radius: 2rem;
  padding: 0.3em;
  color: #0c3c60;
}

#p7 .tab:nth-child(2) svg {
  width: 1.0em !important;
  height: 1.0em !important;
  color: #0c3c60;
}

#p7 .tab .left,
#p7 .tab .cntr,
#p7 .tab .right {
  display: flex;
  align-items: center;
  justify-content: center;
}

#p7 .tab svg {
  width: 1.5em;
  height: 1.5em;
}

#p7 .tab .left {
  width: 30%;
}

#p7 .tab .cntr {
  width: 32%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#p7 .tab .right {
  width: 30%;
}

#p7 .tab:nth-child(3) div {
  width: 100%;
  border: 1px solid #6b6b6b;
  border-radius: 2rem;
  text-align: center;
  padding: 0.3em;
}

#p7 .line_wrap {
  height: calc(var(--vh, 1vh)*1) !important;
  padding-bottom: unset !important;
  padding-top: unset !important;
}

#p7 .info_tab {
  height: unset !important;
  display: flex;
  width: 100%;
  align-items: center;
  flex-direction: column;
}

#p7 .info_tab div {
  padding-bottom: 0.7em;
}

#p7 .tab_bottom {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

#p7 .btn_tab {
  width: 100%;
  align-items: center;
  justify-content: space-between;
  padding-left: unset !important;
  padding-right: unset !important;
  height: calc(var(--vh, 1vh)*7) !important;
}

#p7 .btn_tab div {
  width: 100% !important;
  background: #d1e7f2;
  font-weight: bold;
  border: 1px solid #6b6b6b;
  padding: 1em;
}

#p7 .menu_tab {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-around;
  padding: 0.5em;
  padding-top: 0;
}

#p7 .menu_tab .icon_wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 1em;
}

#p7 .menu_tab .icon_wrap:nth-child(1) {
  border-top: 8px solid #0c3c60;
}

#p7 .menu_tab .icon_wrap svg {
  width: 2em;
  height: 2em;
}

#p7 .menu_tab .icon_wrap .txt {
  padding: 0.5em;
}

/* +++++++++++ common +++++++++++ */
.tab_filled {
  background: #f5f5f5;
  padding: 0.5em;
}

.stations .list_wrap {
  display: flex;
  align-items: center;
  justify-content: center;
}

.stations .list_wrap .li {
  width: 50%;
  padding: 1em;
}

.stations .list_wrap .li {
  border: 1px solid #dddddd;
}

/* +++++++++++ p8 +++++++++++ */
#p8 .info_tab svg {
  width: 4.5em !important;
  height: 2em !important;
  border: unset;
  border-radius: 2rem;
  padding: 0.3em;
  color: #0c3c60;
}

#p8 .scroller {
  height: calc(var(--vh, 1vh)*68) !important;
}

.date_prev {
  background: #e0e7ed;
  height: unset !important;
    display: flex;
    width: 100%;
    align-items: center;
    flex-direction: column;
}

.date_top_btn_wrap {
  background: #f1f1f1;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1em;
  padding-bottom: 0;
}

.date_top_btn {
  background: white;
  padding: 0.5em;
  width: 70%;
  border-radius: 2rem;
  text-align: center;
  color: #6b6b6b;
  border: 1px solid #6b6b6b;
}

.date_selc {
  background: #f1f1f1;
  display: flex;
  align-items: center;
}

.date_selc .date_wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1em;
}

.date_selc .date {
  font-size: xx-large;
  padding-top: 0.5em;
  font-weight: bold;
}

.date_selc .day {
  font-weight: bold;
}

.date_selc .sat {
  color : #48a6ef;
}

.date_selc .sun {
  color : #e64925;
}

.time_selc {
  background: #e3e3e3;
  display: flex;
}

.time_selc .hour_wrap {
  padding: 1em;
  display: flex;
  align-items: flex-end;
}

.time_selc .num {
  font-size: xx-large;
}

#p8 .bottom_tab {
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: 0;
  width: 100%;
}

#p8 .line_wrap {
  padding: unset;
}

.bottom_tab .left,
.bottom_tab .cntr,
.bottom_tab .right {
  display: flex;
  align-items: center;
  justify-content: center;
}

.bottom_tab svg {
  width: 1.5em;
  height: 1.5em;
}

.bottom_tab .left {
  width: 30%;
}

.bottom_tab .cntr {
  width: 32%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bottom_tab .right {
  width: 30%;
}

.bottom_tab:nth-child(3) div {
  width: 100%;
  /* border: 1px solid #6b6b6b; */
  border-radius: 2rem;
  text-align: center;
  padding: 0.3em;
}

.bottom_tab .line_wrap {
  height: calc(var(--vh, 1vh)*1) !important;
  padding-bottom: unset !important;
  padding-top: unset !important;
}

.info_tab {
  height: unset !important;
  display: flex;
  width: 100%;
  align-items: center;
  flex-direction: column;
}

.bottom_tab .info_tab {
  height: unset !important;
  display: flex;
  width: 100%;
  align-items: center;
  flex-direction: column;
}

.bottom_tab .info_tab div {
  padding-bottom: 0.7em;
}

.bottom_tab .tab_bottom {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.bottom_tab .btn_tab {
  width: 100%;
  align-items: center;
  justify-content: space-between;
  padding-left: unset !important;
  padding-right: unset !important;
  height: calc(var(--vh, 1vh)*7) !important;
}

.bottom_tab .btn_tab div {
  width: 100% !important;
  background: #d1e7f2;
  font-weight: bold;
  border: 1px solid #6b6b6b;
  padding: 1em;
}

.bottom_tab .menu_tab {
  display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-around;
    padding: 0.5em;
    padding-top: 0;
}

.bottom_tab .menu_tab .icon_wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 1em;
}

.bottom_tab .menu_tab .icon_wrap svg {
  width: 2em;
  height: 2em;
}

.bottom_tab .menu_tab .icon_wrap .txt {
  padding: 0.5em;
}



/* +++++++++++ p9 +++++++++++ */
#p9 .scroller, #p10 .scroller {
  height: calc(var(--vh, 1vh)*37);
}

.tb {
  display: flex;
    width: 100%;
    height: calc(var(--vh, 1vh)*7);
    padding: 1em;
    align-items: center;
    justify-content: center;
}

.btos {
  background: #c7eef5;
}

.btos div{
  font-size: xx-large;
  color: #0c3c60;
}

.btos svg {
  width: 1em;
  height: 1em;
  stroke-width: 1px;
  stroke: #0c3c60;
}

.bottom_tab .btn_tab{
  border-radius: unset !important;
}

.bottom_tab .btn_tab div{
  border-radius: unset !important;
}

.bottom_tab .menu_tab div {
  border : unset !important;
}

.menu_tab {
  border : unset !important;
}

.prevDateNxt {
  background: #f5f5f5;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.prevDateNxt .blue {
  border: 2px solid #006dc0;
  padding: 0.5em;
  border-radius: 2em;
  padding-left: 1em;
  padding-right: 1em;
}

.prevDateNxt .center {
  font-size: x-large;
}

.selcBox3 {
  background: #f5f5f5;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.selcBox3 .selcbox {
  background: white;
  border: 1px solid #6b6b6b;
  display: flex;
  align-items: center;
  justify-content: space-between !important;
  padding: 0.5em;
  color: #6b6b6b;
}

.selcBox3 .selcbox svg {
  width: 1em;
  height: 1em;
}

.selcBox3 .left,.selcBox3 .center {
  width : 35%; 
}
.selcBox3 .right {
  width : 25%; 
}

.sm-tab{
  display: flex;
  align-items: center;
  height: calc(var(--vh, 1vh)*3);
}

.sm-tab div {
  width: 20%;
  text-align: center;
  color: #6b6b6b;
  background: #ebebeb;
}

.reserv_btn {
  justify-content: center;
  align-items: center;
  display: flex;
  padding: unset !important;
  height: calc(var(--vh, 1vh)*7);
  width: 100% !important;
    background: #d1e7f2;
    font-weight: bold;
    border: 1px solid #6b6b6b;
}

.reserv_btn div {
  text-align: center;
  font-size: xx-large;
  padding: unset !important;
}

.tab_dark {
  background: #475562;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.tab_dark .top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5em;
  width: 100%;
  padding-left: 1em;
  padding-right: 1em;
  height: calc(var(--vh, 1vh)*3);
}
.tab_dark .top .left {
  display: flex;
  align-items: center;
  width: 50%;
  justify-content: flex-start
}
.tab_dark .top .right {
  color: #d5ba66;
}
.tab_dark .bottom {
  display: flex;
  align-items: center;
  padding: 0.5em;
  justify-content: space-around;
  width: 100%;
  padding-left: 1em;
  padding-right: 1em;
  height: calc(var(--vh, 1vh)*5);
}
.tab_dark .bottom div {
  text-align: center;
}

.resrv_list_wrap {
  display: flex;
  align-items: center;
}

.resrv_list_wrap .list_col {
  display: flex;
  align-items: center;
  width: 20%;
  text-align: center;
  justify-content: center;
  padding-top: 1em;
  padding-bottom: 1em;
}

.resrv_list_wrap .price {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.resrv_list_wrap .price .wrap{
  border: 2px solid #0c3c60;
  padding: 0.1em;
  border-radius: 0.3rem;
}

.resrv_selced {
  border: 4px solid #5097cf;
  background: #f0f5fb;
}

.resrv_selced .price_selced .wrap {
  background: #95bfdf;
}

.menu_tab .icon_wrap svg {
  width: 1.5em !important;
  height: 1.5em !important;
}

/* +++++++++++ p11 +++++++++++ */
#p11 .scroller {
  height: calc(var(--vh, 1vh)*45);
}

#p11 .selcBox3 .left, .selcBox3 .center {
  width: 100%;
}

#p11 .prevDateNxt {
  height: calc(var(--vh, 10vh));
}

#p11 .prevDateNxt .center{
  text-align: center;
}

.md-tab {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: calc(var(--vh, 1vh)*5);
  background: #f5f5f5;
  padding-left: 1em;
  padding-right: 1em;
}

.md-tab .left, .md-tab .right {
  display: flex;
  align-items: center;
}

.md-tab .item_wrap {
  display: flex;
  align-items: center;
}

.md-tab .item_wrap div {
  padding-left: 0.3em;
  padding-right: 1em;
}

.md-tab .item_wrap .reverse_txt {
  padding-right: 0;
}

.seat_list_wrap {
  display: flex;
  align-items: center;
  padding-left: 1em;
  padding-right: 1em;
  padding-top: 0.5em;
}
.seat_list_wrap .list_col{
  display: flex;
  align-items: center;
  width: 20%;
}

.seat_list_wrap_reverse .seat {
  padding: 1em;
  border-radius: 1rem;
  padding-bottom:0 ;
}

.seat_list_wrap_reverse .seat_num{
  padding: 0.5em;
  border-radius: 1rem 1rem 0 0;
}

.seat_list_wrap .arrow {
  width: 2em;
  height: 2em;
}

.seat_list_wrap .list_col {
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 0.5em;
}

.reserved_seat .seat_num{
  background: #e2e3e3;
  border: 1px solid #6b6b6b;
}
.reserved_seat .seat {
  background: #e2e3e3;
  border: 1px solid #6b6b6b;
}

.seat_list_wrap_forward .seat {
  padding: 1em;
  border-radius: 1rem;
  padding-top:0 ;
}

.seat_list_wrap_forward .seat_num{
  padding: 0.5em;
  border-radius: 0 0 1rem 1rem;
}

.seat_list_wrap_forward .reserved_seat .seat_num{
  background: #e2e3e3;
  border: 1px solid #6b6b6b;
}
.seat_list_wrap_forward .reserved_seat .seat {
  background: #e2e3e3;
  border: 1px solid #6b6b6b;
}

.seat_list_wrap_forward .available_seat .seat_num{
  background: white;
  border: 1px solid black;
}
.seat_list_wrap_forward .available_seat .seat {
  background: white;
  border: 1px solid black;
}

.seat_list_wrap_reverse .available_seat .seat_num{
  background: white;
  border: 1px solid black;
}
.seat_list_wrap_reverse .available_seat .seat {
  background: #e1ebf4;
  border: 1px solid black;
}

/* ++++++++++++ 모바일 사이즈 미디어쿼리 ++++++++++++++++ */

@media (max-width: 767px) {
  #p1 .menu_tab .icon_wrap svg {
    width: 1.5em;
    height: 1.5em;
}
.menu_tab .icon_wrap svg {
  width: 1.5em ;
  height: 1.5em;
}
.menu_tab .icon_wrap .txt {
  font-size: small;
}
}

/* ++++++++++++ 태블릿 사이즈 미디어쿼리 ++++++++++++++++ */
@media (min-width: 768px) and (max-width: 1024px) {
  #p1 .top_bar .txt {
    font-size: xx-large;
  }
}