#p1,#p2,#p3,#p4,#p5,#p6,#p7,#p8,#p9, #p10,#p11, #p12, #p13, #p14, #p15, #p16 {
  width: 100%;
}

.navy {
  color: #0c3c60;
}

.blue {
  color: #006dc0;
}

.skyblue {
  color: skyblue;
}

.gray {
  color: #6b6b6b;
}

.gray_bg {
  background: #f6f6f6;
}

.white {
  color: white;
}

.lightgray {
  color: #c5c5c5;
}

.lightgray_bg {
  background: #f9f9f9 !important;
}

.yellow {
  color: #fdad00;
}

.red {
  color : #f04821;
}

.redred {
  color : red;
}

.purple {
  color: #7f5eb7;
}

.purple_bg {
  background: #7f5eb7 !important;
}

/* +++++++++++ instruction modal +++++++++++ */
.modal .modal_info {
  padding-top: 1em;
  padding-bottom: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal .info_head {
  background: white;
  top: 0.5em;
  position: relative;
  width: max-content;
}

.modal .info_body {
  text-align: left;
  padding: 1em;
  padding-right: 1em;
  border: 1px solid #000000;
}


/* +++++++++++ p1 +++++++++++ */
.tab1 {
  padding-bottom: 0;
}
#p1 .scroller {
  height: calc(var(--vh, 1vh)*68);
}

#p1 .top_bar {
  display: flex;
  width: 100%;
  height: calc(var(--vh, 1vh)*7);
  padding: 1em;
  background: #0c3c60;
  color: white;
  align-items: center;
  justify-content: space-between;
}

#p1 .tab {
  justify-content: center !important;
}

#p1 .top_bar svg {
  width: 1.5em;
  height: 1.5em;
}

#p1 .tab:nth-child(2) {
  padding-top: 0.5em !important;
}

#p1 .tab:nth-child(2) svg {
  color: #0c3c60;
}

#p1 .tab .left,
#p1 .tab .cntr,
#p1 .tab .right {
  display: flex;
  align-items: center;
  justify-content: center;
}

#p1 .tab svg {
  width: 1.5em;
  height: 1.5em;
}

#p1 .tab .left {
  width: 30%;
}

#p1 .tab .cntr {
  width: 32%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#p1 .tab .right {
  width: 30%;
}

#p1 .tab:nth-child(3) div {
  width: 100%;
  border: 1px solid #6b6b6b;
  border-radius: 2rem;
  text-align: center;
  padding: 0.3em;
}

#p1 .line_wrap {
  height: calc(var(--vh, 1vh)*1) !important;
  padding-bottom: unset !important;
  padding-top: unset !important;
}

#p1 .info_tab {
  height: unset !important;
  display: flex;
  width: 100%;
  align-items: center;
  flex-direction: column;
}

#p1 .info_tab div {
  padding-bottom: 0.7em;
}

#p1 .tab_bottom {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

#p1 .btn_tab {
  width: 100%;
  align-items: center;
  justify-content: space-between;
  padding-left: unset !important;
  padding-right: unset !important;
  height: calc(var(--vh, 1vh)*7) !important;
}

#p1 .btn_tab div {
  width: 100% !important;
  background: #d1e7f2;
  font-weight: bold;
  border: 1px solid #6b6b6b;
  padding: 1em;
}

/* +++++++++++ p2, p3, p5, p6 +++++++++++ */
.top_bar {
  display: flex;
  width: 100%;
  height: calc(var(--vh, 1vh)*7);
  padding: 1em;
  background: #0c3c60;
  color: white;
  align-items: center;
  justify-content: space-between;
}

.tab {
  justify-content: center !important;
}

.top_bar svg {
  width: 1.5em;
  height: 1.5em;
}


.tab:nth-child(2) {
  padding-top: 0.5em !important;
}

.tab:nth-child(1) svg {
  width: 4.5em !important;
  height: 2em !important;
  border: 2px solid #0c3c60;
  border-radius: 2rem;
  padding: 0.3em;
  color: #0c3c60;
}

.tab:nth-child(2) svg {
  color: #0c3c60;
}

.tab .left,
.tab .cntr,
.tab .right {
  display: flex;
  align-items: center;
  justify-content: center;
}

.tab svg {
  width: 1.5em;
  height: 1.5em;
}

.tab .left {
  width: 30%;
}

.tab .cntr {
  width: 32%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tab .right {
  width: 30%;
}

.tab:nth-child(3) div {
  width: 100%;
  border: 1px solid #6b6b6b;
  border-radius: 2rem;
  text-align: center;
  padding: 0.3em;
}

.blank {
  border-top-right-radius: 2rem;
  border-top-left-radius: 2rem;
  height: 1.5em;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 0.5em;
}

.blank svg {
  width: 2em;
  height: 1em;
  stroke-width: 1px;
  stroke: black;
}

.scroller {
  height: calc(var(--vh, 1vh)*61);
}

.form-floating {
  padding: 1em;
}

.input_wrap {
  padding: 1em;
}

/* +++++++++++ p4 +++++++++++ */
#p4 .scroller {
  height: calc(var(--vh, 1vh)*68);
}

#p4 .top_bar {
  display: flex;
  width: 100%;
  height: calc(var(--vh, 1vh)*7);
  padding: 1em;
  background: #0c3c60;
  color: white;
  align-items: center;
  justify-content: space-between;
}

#p4 .tab {
  justify-content: center !important;
}

#p4 .top_bar svg {
  width: 1.5em;
  height: 1.5em;
}

#p4 .tab:nth-child(2) {
  padding-top: 0.5em !important;
}

#p4 .tab:nth-child(2) svg {
  color: #0c3c60;
}

#p4 .tab .left,
#p4 .tab .cntr,
#p4 .tab .right {
  display: flex;
  align-items: center;
  justify-content: center;
}

#p4 .tab svg {
  width: 1.5em;
  height: 1.5em;
}

#p4 .tab .left {
  width: 30%;
}

#p4 .tab .cntr {
  width: 32%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#p4 .tab .right {
  width: 30%;
}

#p4 .tab:nth-child(3) div {
  width: 100%;
  border: 1px solid #6b6b6b;
  border-radius: 2rem;
  text-align: center;
  padding: 0.3em;
}

#p4 .line_wrap {
  height: calc(var(--vh, 1vh)*1) !important;
  padding-bottom: unset !important;
  padding-top: unset !important;
}

#p4 .info_tab {
  height: unset !important;
  display: flex;
  width: 100%;
  align-items: center;
  flex-direction: column;
}

#p4 .info_tab div {
  padding-bottom: 0.7em;
}

#p4 .tab_bottom {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

#p4 .btn_tab {
  width: 100%;
  align-items: center;
  justify-content: space-between;
  padding-left: unset !important;
  padding-right: unset !important;
  height: calc(var(--vh, 1vh)*7) !important;
}

#p4 .btn_tab div {
  width: 100% !important;
  background: #d1e7f2;
  font-weight: bold;
  border: 1px solid #6b6b6b;
  padding: 1em;
}


/* +++++++++++ p7 +++++++++++ */
#p7 .scroller {
  height: calc(var(--vh, 1vh)*68);
}

#p7 .top_bar {
  display: flex;
  width: 100%;
  height: calc(var(--vh, 1vh)*7);
  padding: 1em;
  background: #0c3c60;
  color: white;
  align-items: center;
  justify-content: space-between;
}

#p7 .tab {
  justify-content: center !important;
}

#p7 .top_bar svg {
  width: 1.5em;
  height: 1.5em;
}

#p7 .tab:nth-child(2) {
  padding-top: 0.5em !important;
}

#p7 .tab:nth-child(2) svg {
  color: #0c3c60;
}

#p7 .tab .left,
#p7 .tab .cntr,
#p7 .tab .right {
  display: flex;
  align-items: center;
  justify-content: center;
}

#p7 .tab svg {
  width: 1.5em;
  height: 1.5em;
}

#p7 .tab .left {
  width: 30%;
}

#p7 .tab .cntr {
  width: 32%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#p7 .tab .right {
  width: 30%;
}

#p7 .tab:nth-child(3) div {
  width: 100%;
  border: 1px solid #6b6b6b;
  border-radius: 2rem;
  text-align: center;
  padding: 0.3em;
}

#p7 .line_wrap {
  height: calc(var(--vh, 1vh)*1) !important;
  padding-bottom: unset !important;
  padding-top: unset !important;
}

#p7 .info_tab {
  height: unset !important;
  display: flex;
  width: 100%;
  align-items: center;
  flex-direction: column;
}

#p7 .info_tab div {
  padding-bottom: 0.7em;
}

#p7 .tab_bottom {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

#p7 .btn_tab {
  width: 100%;
  align-items: center;
  justify-content: space-between;
  padding-left: unset !important;
  padding-right: unset !important;
  height: calc(var(--vh, 1vh)*7) !important;
}

#p7 .btn_tab div {
  width: 100% !important;
  background: #d1e7f2;
  font-weight: bold;
  border: 1px solid #6b6b6b;
  padding: 1em;
}


/* +++++++++++ common +++++++++++ */
.tab_filled {
  background: #f5f5f5;
  padding: 0.5em;
}

.stations .list_wrap {
  display: flex;
  align-items: center;
  justify-content: center;
}

.stations .list_wrap .li {
  width: 50%;
  padding: 1em;
}

.stations .list_wrap .li {
  border: 1px solid #dddddd;
}

/* +++++++++++ p8 +++++++++++ */
#p8 .info_tab svg {
  width: 4.5em !important;
  height: 2em !important;
  border: unset;
  border-radius: 2rem;
  padding: 0.3em;
  color: #0c3c60;
}

#p8 .scroller {
  height: calc(var(--vh, 1vh)*68) !important;
}

.date_prev {
  background: #e0e7ed;
  height: unset !important;
    display: flex;
    width: 100%;
    align-items: center;
    flex-direction: column;
}

.date_top_btn_wrap {
  background: #f1f1f1;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1em;
  padding-bottom: 0.5em;
}

.date_top_btn {
  background: white;
  padding: 0.5em;
  width: 70%;
  border-radius: 2rem;
  text-align: center;
  color: #6b6b6b;
  border: 1px solid #6b6b6b;
}

.date_selc {
  background: #f1f1f1;
  display: flex;
  align-items: center;
}

.date_selc .date_wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1em;
  padding-top: 0.5em;
}

.date_selc .date {
  font-size: xx-large;
  padding-top: 0.5em;
  font-weight: bold;
}

.date_selc .day {
  font-weight: bold;
}

.date_selc .sat {
  color : #48a6ef;
}

.date_selc .sun {
  color : #e64925;
}

.time_selc {
  background: #e3e3e3;
  display: flex;
}

.time_selc .hour_wrap {
  padding: 1em;
  display: flex;
  align-items: flex-end;
}

.time_selc .num {
  font-size: xx-large;
}

#p8 .line_wrap {
  padding: unset;
}


.info_tab {
  height: unset !important;
  display: flex;
  width: 100%;
  align-items: center;
  flex-direction: column;
}

#p8 .btn_tab {
  width: 100%;
  align-items: center;
  justify-content: space-between;
  padding-left: unset !important;
  padding-right: unset !important;
  height: calc(var(--vh, 1vh)*7) !important;
}

#p8 .btn_tab div {
  width: 100% !important;
  background: #d1e7f2;
  font-weight: bold;
  border: 1px solid #6b6b6b;
  padding: 1em;
}

.pg_8_selected_css {
  background: #0c3c60 !important;
}

.pg_8_selected_css div {
  color: white !important;
}

/* +++++++++++ p9 +++++++++++ */
#p9 .scroller, #p10 .scroller, #p12 .scroller {
  height: calc(var(--vh, 1vh)*36);
}

.tb {
  display: flex;
    width: 100%;
    height: calc(var(--vh, 1vh)*7);
    padding: 1em;
    align-items: center;
    justify-content: center;
}

.btos {
  background: #c7eef5;
}

.btos div{
  font-size: xx-large;
  color: #0c3c60;
}

.btos svg {
  width: 1em;
  height: 1em;
  stroke-width: 1px;
  stroke: #0c3c60;
}

.menu_tab {
  border : unset !important;
}

.prevDateNxt {
  background: #f5f5f5;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.prevDateNxt .blue {
  border: 2px solid #006dc0;
  padding: 0.1em;
  border-radius: 2em;
  padding-left: 1em;
  padding-right: 1em;
}

.prevDateNxt .center {
  font-size: x-large;
}

.selcBox3 {
  background: #f5f5f5;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.selcBox3 .selcbox {
  background: white;
  border: 1px solid #6b6b6b;
  display: flex;
  align-items: center;
  justify-content: space-between !important;
  padding: 0.5em;
  color: #6b6b6b;
}

.selcBox3 .selcbox svg {
  width: 1em;
  height: 1em;
}

.selcBox3 .left,.selcBox3 .center {
  width : 35%; 
}
.selcBox3 .right {
  width : 25%; 
}

.sm-tab{
  display: flex;
  align-items: center;
  height: calc(var(--vh, 1vh)*3);
}

.sm-tab div {
  width: 20%;
  text-align: center;
  color: #6b6b6b;
  background: #ebebeb;
}

.reserv_btn {
  justify-content: center;
  align-items: center;
  display: flex;
  padding: unset !important;
  height: calc(var(--vh, 1vh)*7);
  width: 100% !important;
    background: #d1e7f2;
    font-weight: bold;
    border: 1px solid #6b6b6b;
}

.reserv_btn div {
  text-align: center;
  padding: unset !important;
}

.tab_dark {
  background: #475562;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.tab_dark .top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5em;
  width: 100%;
  padding-left: 1em;
  padding-right: 1em;
  height: calc(var(--vh, 1vh)*3);
}
.tab_dark .top .left {
  display: flex;
  align-items: center;
  width: 50%;
  justify-content: flex-start
}
.tab_dark .top .right {
  color: #d5ba66;
}
.tab_dark .bottom {
  display: flex;
  align-items: center;
  padding: 0.5em;
  justify-content: space-around;
  width: 100%;
  padding-left: 1em;
  padding-right: 1em;
  height: calc(var(--vh, 1vh)*5);
}
.tab_dark .bottom div {
  text-align: center;
}

.resrv_list_wrap {
  display: flex;
  align-items: center;
}

.resrv_list_wrap .list_col {
  display: flex;
  align-items: center;
  width: 20%;
  text-align: center;
  justify-content: center;
  padding-top: 1em;
  padding-bottom: 1em;
}

.resrv_list_wrap .price {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.resrv_list_wrap .price .wrap{
  border: 2px solid #0c3c60;
  padding: 0.1em;
  border-radius: 0.3rem;
}

.resrv_selced {
  box-shadow: 0 0 0 4px #5097cf inset;
  background: #f0f5fb;
}

.resrv_selced .price_selced .wrap {
  background: #95bfdf;
}

.menu_tab .icon_wrap svg {
  width: 1.5em !important;
  height: 1.5em !important;
}

/* +++++++++++ p11 +++++++++++ */
#p11 .scroller {
  height: calc(var(--vh, 1vh)*48);
}

#p11 .selcBox3 .left, .selcBox3 .center {
  width: 100%;
}

#p11 .prevDateNxt {
  /* height: calc(var(--vh, 10vh)); */
}

#p11 .prevDateNxt .center{
  text-align: center;
}

.md-tab {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: calc(var(--vh, 1vh)*5);
  background: #f5f5f5;
  padding-left: 1em;
  padding-right: 1em;
}

.md-tab .left, .md-tab .right {
  display: flex;
  align-items: center;
}

.md-tab .item_wrap {
  display: flex;
  align-items: center;
}

.md-tab .item_wrap div {
  padding-left: 0.3em;
  padding-right: 1em;
}

.md-tab .item_wrap .reverse_txt {
  padding-right: 0;
}

.seat_list_wrap {
  display: flex;
  align-items: center;
  padding-left: 1em;
  padding-right: 1em;
  padding-top: 0.5em;
}
.seat_list_wrap .list_col{
  display: flex;
  align-items: center;
  width: 20%;
}

.seat_list_wrap_reverse .seat {
  padding: 1em;
  border-radius: 1rem;
  padding-bottom:0 ;
}

.seat_list_wrap_reverse .seat_num{
  padding: 0.5em;
  border-radius: 1rem 1rem 0 0;
}

.seat_list_wrap .arrow {
  width: 2em;
  height: 2em;
}

.seat_list_wrap .list_col {
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 0.5em;
}

.reserved_seat .seat_num{
  background: #e2e3e3;
  border: 1px solid #6b6b6b;
}
.reserved_seat .seat {
  background: #e2e3e3;
  border: 1px solid #6b6b6b;
}

.seat_list_wrap_forward .seat {
  padding: 1em;
  border-radius: 1rem;
  padding-top:0 ;
}

.seat_list_wrap_forward .seat_num{
  padding: 0.5em;
  border-radius: 0 0 1rem 1rem;
}

.seat_list_wrap_forward .reserved_seat .seat_num{
  background: #e2e3e3;
  border: 1px solid #6b6b6b;
}
.seat_list_wrap_forward .reserved_seat .seat {
  background: #e2e3e3;
  border: 1px solid #6b6b6b;
}

.seat_list_wrap_forward .available_seat .seat_num{
  background: white;
  border: 1px solid black;
}
.seat_list_wrap_forward .available_seat .seat {
  background: white;
  border: 1px solid black;
}

.seat_list_wrap_reverse .available_seat .seat_num{
  background: white;
  border: 1px solid black;
}
.seat_list_wrap_reverse .available_seat .seat {
  background: #e1ebf4;
  border: 1px solid black;
}

/* +++++++++++ p13 +++++++++++ */
#p13 .scroller {
  height: calc(var(--vh, 1vh)*79);
}

.ticket_info_check .firstLine {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.ticket_info_check .li {
  padding-bottom: 0.3em;
  padding-left: 1em;
  padding-right: 1em;
}

.ticket_info_check .btn_wrap {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.ticket_info_check .btn_wrap .btn {
  width: 40%;
  padding: 0.5em;
  border: 1px solid #6b6b6b;
  border-radius: 2rem;
}

.ticket_info_check .txt_wrap {
  background: #f5f5f5;
  border-top: 1px solid #6b6b6b;
  padding: 1em;
  display: flex;
  flex-direction: column;

}

.ticket_info_check .txt_wrap .txt{
display: flex;  
}
.ticket_info_check .txt_wrap .dot {
  color: #000000;
}

.ticket_info_check .txt_wrap .blue {
  color: #40c7f4;
}

.ticket_info_check span {
  color: red;
}

.ticket_info_check .dash {
  display: flex;
  align-items: flex-start;
}

.payBtn {
  height: calc(var(--vh, 1vh)*7);
  width: 100% !important;
    background: #d1e7f2;
    font-weight: bold;
    border: 1px solid #6b6b6b;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* +++++++++++ p14 +++++++++++ */
#p14 .scroller {
  height: calc(var(--vh, 1vh)*72);
}

.pay_info .tab:nth-child(2)
{
  display: flex;
  align-items: center;
  justify-content: space-between !important;
}

.pay_info .tab:nth-child(2) svg {
  color: #8fb5cd;
  stroke: #8fb5cd;
  stroke-width: 1px;
}

.pay_info .train_info .btn {
  background: #7f5eb7;
  color: white;
  padding: 0.3em;
  padding-left: 1em;
  padding-right: 1em;
  border-radius: 2rem;
}

.pay_info .lf, .pay_info .rt {
  display: flex;
  align-items: center;
  width: 35%;
  justify-content: space-between;
}

.border_dotted {
  border-top: 7px dotted #e8e8e8; 
}

.border_solid {
  border-top: 2px solid #e8e8e8; 
}

.bToS {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 1em;
}

.bToS .d-flex {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.pay_info .time_wrap {
  display: flex;
  align-items: center;
  padding: 1em;
  padding-top: 0;
}

.pay_info .time_wrap div {
  width: 20%;
  text-align: center;
}

.pay_info .seat_info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1em;
}

.pay_info .seat_info .ctr {
  display: flex;
  align-items: center;
}

.pay_info .seat_info .ctr .trf_btn {
  padding: 0.3em;
  padding-left: 1em;
  padding-right: 1em;
  border-radius: 2rem;
  border: 1px solid #6b6b6b;
  color: #6b6b6b;
}

.pay_info .seat_info .right_btn {
  padding: 0.3em;
  padding-left: 1em;
  padding-right: 1em;
  color: #6b6b6b;
  background: #d2e5ed;
}

.pay_info .seat_info .left_btn {
  padding: 0.3em;
  padding-left: 1em;
  padding-right: 1em;
  color: white;
  background: white;
}

.pay_info .price {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1em;
}

.pay_info .lightgray_bg {
  border-bottom: 2px solid #e8e8e8;
  display: flex;
  align-items: center;
  justify-content: space-between !important;
}

.pay_info .precautions {
  background: #f9f9f9;
  padding: 1em;
}

/* +++++++++++ p15 +++++++++++ */
#p15 .scroller {
  height: calc(var(--vh, 1vh)*65);
}

.double_btn {
  display: flex;
  align-items: center;
  height: calc(var(--vh, 1vh)*7);
}

.double_btn .lf {
  display: flex;
  width: 50%;
  text-align: center;
  color: #c5c5c5;
  justify-content: center;
  height: calc(var(--vh, 1vh)*7);
  align-items: center;
}

.double_btn .rt {
  display: flex;
  width: 50%;
  text-align: center;
  color: #7f5eb7;
  border-bottom: 5px solid #7f5eb7;
  justify-content: center;
  height: calc(var(--vh, 1vh)*7);
  align-items: center;
}

.pay_info .point {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 1em;
}

.pay_btn_wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.pay_btn_wrap .pay_btn_lg {
  width: 100%;
  background: white;
  border-radius: 2rem;
  border : 1px solid #6b6b6b;
  text-align: center;
  padding: 0.5em;
}

.pay_btn_wrap .pay_btn_sm_wrap, .pay_btn_wrap .pay_btn_lg_wrap {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1em;
  padding-bottom: 0;
}

.pay_btn_wrap .pay_btn_sm {
  width: 49%;
  background: white;
  border-radius: 2rem;
  border : 1px solid #6b6b6b;
  text-align: center;
  padding: 0.5em;
}

.installment_pay {
  background: #f9f9f9;
  display: flex;
  align-items: center;
  padding: 1em;
  justify-content: space-between;
  padding-top: 0;
}

.installment_pay .selc_box {
  border : 1px solid #6b6b6b;
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #6b6b6b;
  padding: 0.5em;
}

.installment_pay .selc_box svg {
  width: 1em;
  height: 1em;
}

.pg_15_selected {
  background: #7f5eb7 !important;
  color: white;
}

/* +++++++++++ p16 +++++++++++ */
#p16 .pay_pg {
  height: calc(var(--vh, 1vh)*70);
}

.top_bar_btwn {
  display: flex;
  width: 100%;
  height: calc(var(--vh, 1vh)*7);
  padding: 1em;
  align-items: center;
  justify-content: space-between;
}
 
.top_bar_btwn .lf {
  display: flex;
  align-items: center;
}

.top_bar_btwn svg {
  width: 1em;
  height: 1em;
}

.top_bar_btwn .lf svg {
  width: 1.5em;
  height: 1.5em;
}

.pay_pg .price_tab {
  padding: 1em;
  width: 100%;
}

.pay_pg .pay_btn_wrap {
  display: flex;
    align-items: center;
    justify-content: space-between !important;
    padding: 1em;
    padding-top: 0;
}

.pay_pg .pay_btn_wrap_lg {
  display: flex;
  width: 100%;
    background: white;
    border-radius: 2rem;
    text-align: center;
    padding: 0.5em;
    align-items: center;
    justify-content: center;
    height: calc(var(--vh, 1vh)*7);
    box-shadow: 0px 0px 40px 3px rgba(207, 207, 207, 0.35);
}

.card_wrap_wrap {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.card_wrap {
  display: flex;
  background: white;
  border-radius: 2rem;
  text-align: center;
  padding: 1em;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 0px 40px 3px rgba(207, 207, 207, 0.35);
  flex-direction: column;
  width: 85%;
}

.card_img_wrap {
  width: 100%;
}

.card_img {
  background: orange;
  padding-top: 63%;
  border-radius: 2rem;
}

.card_wrap .installment_pay {
  width: 100%;
  display: flex;
  align-items: center;
  background: white;
  padding-bottom: 0;
}

.card_wrap .installment_pay svg {
  width: 1em;
  height: 1em;
}

.pay_pa .xScroller {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  padding: 1em;
}

.fn_pay_btn_wrap {
  width: 100%;
  height: calc(var(--vh, 1vh)*16);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1em;
  flex-direction: column;
}

.fn_pay_btn {
  width: 100%;
  text-align: center;
  border-radius: 2rem;
  background: #fff000;
  padding: 0.5em;
  box-shadow: 0px 0px 40px 3px rgba(207, 207, 207, 0.35);
}

.dots_wrap {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: center;
}

.svg-2em {
  width: 2em !important;
  height: 2em !important;
}



/* +++++++++++ bottom_tab_double +++++++++++ */
.bottom_tab_double .menu_tab {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-around;
  padding-top: 0;
}

.bottom_tab_double .menu_tab .icon_wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 1em;
}

.bottom_tab_double .menu_tab .icon_wrap svg {
  width: 2em;
  height: 2em;
}

.bottom_tab_double .menu_tab .icon_wrap .txt {
  padding: 0.5em;
}

.bottom_tab_with_price {
  width: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.bottom_tab_with_price .btn_tab {
  width: 100%;
  display: flex;
}

.bottom_tab_with_price .total_price {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between !important;
  color: white;
  background: #4b5b68;
  height: calc(var(--vh, 1vh)*7) !important;
}

.bottom_tab_with_price .btn_tab div {
  width: 50% !important;
  background: #d1e7f2;
  font-weight: bold;
  border: 1px solid #6b6b6b;
  padding: 1em;
  text-align: center;
}

/* ++++++++++++ 모바일 사이즈 미디어쿼리 ++++++++++++++++ */

@media (max-width: 767px) {
  #p1 .menu_tab .icon_wrap svg {
    width: 1.5em;
    height: 1.5em;
}
.menu_tab .icon_wrap svg {
  width: 1.5em ;
  height: 1.5em;
}
.menu_tab .icon_wrap .txt {
  font-size: small;
}
.text-xxx-large {
  font-size: x-large !important;
}
}

/* ++++++++++++ 태블릿 사이즈 미디어쿼리 ++++++++++++++++ */
@media (min-width: 768px) and (max-width: 1024px) {
  .top_bar .txt {
    font-size: xx-large;
  }

  .ticket_info_check .btn_wrap .btn {
    font-size: x-large;
  }
  
  .text-x-large {
    font-size: x-large !important;
  }
  
}